<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-12">

        <h3 class="text-center">Technology News</h3>
        <hr  class="title-line" />


  <div ng-repeat="techNews in blogsTechNews.posts">
    <h2> {{ techNews.title_plain }} </h2>
    <p> {{techNews.date}}</p>
     <div>{{techNews.content }}</div>
  </div><!-- end techNews-->

    </div><!-- end col-sm-12-->
  </div><!-- end row-->

</div> <!-- /container -->



